html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: #389a88;
  background-image: linear-gradient(#389a88, #64e6ac);
  background-attachment: fixed;
}

body * {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
